/* scrollbar style - typically transparent */
div.foobar-vertical, div.foobar-horizontal {
    margin: 3px;
}
/* thumb style */
div.foobar-vertical > .thumb, div.foobar-horizontal > .thumb {
    background-color: lightgrey;
    border-radius: 4px;
    margin: 2px;
    opacity: .4;
    transition: opacity .25s;
}
/* thumb hover style */
div.foobar-vertical > .thumb.hover, div.foobar-horizontal > .thumb.hover {
    opacity: 1;
    transition: opacity .25s;
}

/* vertical-specific styles */
div.foobar-vertical {
    width: 11px;
}
div.foobar-vertical > .thumb {
    top: 0px; /* optional: initial position of thumb within vertical scrollbar */
    right: 0;
    width: 7px;
}

/* horizontal-specific styles */
div.foobar-horizontal {
    height: 11px;
}
div.foobar-horizontal > .thumb {
    left: 0px; /* optional: initial position of thumb within horizontal scrollbar */
    bottom: 0;
    height: 7px;
}
