/* scrollbar style - typically transparent */
div.finbar-vertical, div.finbar-horizontal {
    margin: 3px;
}
/* thumb style */
div.finbar-vertical > .thumb, div.finbar-horizontal > .thumb {
    background-color: lightgrey;
    -webkit-box-shadow: 0 0 1px black;
    -moz-box-shadow: 0 0 1px black;
    box-shadow: 0 0 1px black;
    border-radius: 4px;
    margin: 2px;
    opacity: .4;
    transition: opacity .5s;
}
/* thumb hover style */
div.finbar-vertical > .thumb.hover, div.finbar-horizontal > .thumb.hover {
    opacity: 1;
    transition: opacity .5s;
}

/* vertical-specific styles */
div.finbar-vertical {
    top: 0; bottom: 0; /* stretched from top to bottom edges of container */
    right: 0; /* stuck to right edge of container */
    width: 11px;
}
div.finbar-vertical > .thumb {
    top: 0; /* optional: initial position of thumb within vertical scrollbar */
    right: 0;
    width: 7px;
}

/* horizontal-specific styles */
div.finbar-horizontal {
    left: 0; right: 0; /* stretched from left to right edges of container */
    bottom: 0; /* stuck to bottom edge of container */
    height: 11px;
}
div.finbar-horizontal > .thumb {
    left: 0; /* optional: initial position of thumb within horizontal scrollbar */
    bottom: 0;
    height: 7px;
}
